The MIT License (MIT)

Copyright (c) 2021 NVIDIA CORPORATION

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

In [1]:
import pandas as pd
import pandas as cudf
from sklearn.model_selection import GroupKFold

pd.__version__, cudf.__version__

('1.1.5', '1.1.5')

In [2]:
from numba import cuda

def get_order_in_group(utrip_id_,order):
    for i in range(cuda.threadIdx.x, len(utrip_id_), cuda.blockDim.x):
        order[i] = i

def add_cumcount(df, sort_col, outputname):
    df = df.sort_values(sort_col, ascending=True)
    tmp = df[['utrip_id_', 'checkin']].groupby(['utrip_id_']).apply_grouped(
        get_order_in_group,incols=['utrip_id_'],
        outcols={'order': 'int32'},
        tpb=32)
    tmp.columns = ['utrip_id_', 'checkin', outputname]
    df = df.merge(tmp, how='left', on=['utrip_id_', 'checkin'])
    df = df.sort_values(sort_col, ascending=True)
    return(df)

In [3]:
train = cudf.read_csv('../../../data/train_set.csv').sort_values(by=['user_id','checkin'])
test = cudf.read_csv('../../../data/test_set.csv').sort_values(by=['user_id','checkin'])
#del train['Unnamed: 0']
#del test['row_num'], test['total_rows']

print(train.shape, test.shape)
train.head()

(1166835, 9) (378667, 9)

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id
413669,29,2016-07-09,2016-07-11,47054,desktop,1601,Elbonia,Elbonia,29_1
413670,29,2016-07-11,2016-07-13,34444,desktop,1601,Elbonia,Elbonia,29_1
413671,29,2016-07-13,2016-07-16,12291,desktop,1601,Elbonia,Elbonia,29_1
413672,29,2016-07-16,2016-07-18,16386,desktop,8132,Elbonia,Elbonia,29_1
1128910,81,2016-05-15,2016-05-16,33665,desktop,9924,Elbonia,Elbonia,81_1

In [4]:
train['istest'] = 0
test['istest'] = 1
raw = cudf.concat([train,test], sort=False )
raw = raw.sort_values( ['user_id','checkin'], ascending=True )
raw.head()

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id,istest
413669,29,2016-07-09,2016-07-11,47054,desktop,1601,Elbonia,Elbonia,29_1,0
413670,29,2016-07-11,2016-07-13,34444,desktop,1601,Elbonia,Elbonia,29_1,0
413671,29,2016-07-13,2016-07-16,12291,desktop,1601,Elbonia,Elbonia,29_1,0
413672,29,2016-07-16,2016-07-18,16386,desktop,8132,Elbonia,Elbonia,29_1,0
355509,65,2016-09-26,2016-09-29,36403,desktop,3577,The Devilfire Empire,Cobra Island,65_1,1

In [5]:
raw['fold'] = 0
group_kfold = GroupKFold(n_splits=5)
for fold, (train_index, test_index) in enumerate(group_kfold.split(X=raw, y=raw, groups=raw['utrip_id'])):
    raw.iloc[test_index,10] = fold

raw['fold'].value_counts()

1    309101
0    309101
4    309100
3    309100
2    309100
Name: fold, dtype: int64

In [6]:
#This flag tell which row must be part of the submission file.

raw['submission'] = 0
raw.loc[ (raw.city_id==0)&(raw.istest) ,'submission'] = 1

raw.loc[ raw.submission==1 ]

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id,istest,fold,submission
355513,65,2016-10-03,2016-10-04,0,mobile,4132,The Devilfire Empire,NaN,65_1,1,2,1
356899,67,2016-08-11,2016-08-14,0,desktop,9924,Tcherkistan,NaN,67_1,1,1,1
10963,115,2016-04-06,2016-04-07,0,desktop,9924,Elbonia,NaN,115_1,1,0,1
120565,279,2016-03-27,2016-04-01,0,desktop,2803,Tcherkistan,NaN,279_1,1,3,1
139366,307,2016-06-02,2016-06-03,0,desktop,8132,Elbonia,NaN,307_1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
353170,6257974,2016-07-05,2016-07-07,0,tablet,7974,The Devilfire Empire,NaN,6257974_1,1,2,1
353174,6258010,2016-06-10,2016-06-12,0,mobile,359,The Devilfire Empire,NaN,6258010_1,1,0,1
353181,6258104,2016-08-25,2016-08-27,0,mobile,359,Gondal,NaN,6258104_4,1,1,1
353186,6258120,2016-07-24,2016-07-25,0,desktop,9924,Gondal,NaN,6258120_1,1,4,1
353190,6258185,2016-09-07,2016-09-12,0,desktop,9924,Elbonia,NaN,6258185_1,1,1,1

In [7]:
#number of places visited in each trip

aggs = raw.groupby('utrip_id', as_index=False)['user_id'].count()
aggs.columns = ['utrip_id', 'N']
raw = raw.merge(aggs, on=['utrip_id'], how='inner')

In [8]:
raw['utrip_id_'], mp = raw['utrip_id'].factorize()

In [14]:
raw['checkin'] = pd.to_datetime(raw.checkin, format="%Y-%m-%d")
raw['checkout'] = pd.to_datetime(raw.checkout, format="%Y-%m-%d")

In [18]:
raw["dcount"] = raw.groupby(["utrip_id_"])["checkin"].rank(ascending=True).astype(int) - 1
raw["icount"] = raw["N"] - raw["dcount"] - 1

In [19]:
# raw = add_cumcount(raw, ['utrip_id_','checkin'], 'dcount')

In [20]:
raw.head(50)

,user_id,checkin,checkout,city_id,device_class,affiliate_id,booker_country,hotel_country,utrip_id,istest,fold,submission,N,utrip_id_,dcount,icount
0,29,2016-07-09,2016-07-11,47054,desktop,1601,Elbonia,Elbonia,29_1,0,3,0,4,0,0,3
1,29,2016-07-11,2016-07-13,34444,desktop,1601,Elbonia,Elbonia,29_1,0,3,0,4,0,1,2
2,29,2016-07-13,2016-07-16,12291,desktop,1601,Elbonia,Elbonia,29_1,0,3,0,4,0,2,1
3,29,2016-07-16,2016-07-18,16386,desktop,8132,Elbonia,Elbonia,29_1,0,3,0,4,0,3,0
4,65,2016-09-26,2016-09-29,36403,desktop,3577,The Devilfire Empire,Cobra Island,65_1,1,2,0,5,1,0,4
5,65,2016-09-29,2016-10-01,23921,desktop,8223,The Devilfire Empire,Cobra Island,65_1,1,2,0,5,1,1,3
6,65,2016-10-01,2016-10-02,42682,mobile,4132,The Devilfire Empire,Cobra Island,65_1,1,2,0,5,1,2,2
7,65,2016-10-02,2016-10-03,29990,mobile,4132,The Devilfire Empire,Cobra Island,65_1,1,2,0,5,1,3,1
8,65,2016-10-03,2016-10-04,0,mobile,4132,The Devilfire Empire,NaN,65_1,1,2,1,5,1,4,0
9,67,2016-07-30,2016-08-01,64876,desktop,9924,Tcherkistan,Fook Island,67_1,1,1,0,8,2,0,7
10,67,2016-08-01,2016-08-03,55128,desktop,9924,Tcherkistan,Fook Island,67_1,1,1,0,8,2,1,6
11,67,2016-08-03,2016-08-04,9608,desktop,9924,Tcherkistan,Fook Island,67_1,1,1,0,8,2,2,5
12,67,2016-08-04,2016-08-05,17127,desktop,9924,Tcherkistan,Fook Island,67_1,1,1,0,8,2,3,4
13,67,2016-08-05,2016-08-07,62950,desktop,9924,Tcherkistan,Carpathia,67_1,1,1,0,8,2,4,3
14,67,2016-08-07,2016-08-08,64269,desktop,9924,Tcherkistan,Carpathia,67_1,1,1,0,8,2,5,2
15,67,2016-08-08,2016-08-11,35856,desktop,9924,Tcherkistan,Gondal,67_1,1,1,0,8,2,6,1
16,67,2016-08-11,2016-08-14,0,desktop,9924,Tcherkistan,NaN,67_1,1,1,1,8,2,7,0
17,81,2016-05-15,2016-05-16,33665,desktop,9924,Elbonia,Elbonia,81_1,0,4,0,4,3,0,3
18,81,2016-05-16,2016-05-18,15506,desktop,9924,Elbonia,Leutonia,81_1,0,4,0,4,3,1,2
19,81,2016-05-18,2016-05-19,22065,desktop,9924,Elbonia,Leutonia,81_1,0,4,0,4,3,2,1
20,81,2016-05-19,2016-05-21,19335,desktop,9924,Elbonia,Leutonia,81_1,0,4,0,4,3,3,0
21,115,2016-04-03,2016-04-04,51654,desktop,9924,Elbonia,Nevoruss,115_1,1,0,0,4,4,0,3
22,115,2016-04-04,2016-04-05,53207,desktop,9924,Elbonia,Nevoruss,115_1,1,0,0,4,4,1,2
23,115,2016-04-05,2016-04-06,26492,desktop,9924,Elbonia,Nevoruss,115_1,1,0,0,4,4,2,1
24,115,2016-04-06,2016-04-07,0,desktop,9924,Elbonia,NaN,115_1,1,0,1,4,4,3,0
25,136,2016-04-26,2016-04-27,38793,desktop,9924,The Devilfire Empire,Sylvania,136_2,0,4,0,4,5,0,3
26,136,2016-04-27,2016-04-28,28545,desktop,9924,The Devilfire Empire,Slaka,136_2,0,4,0,4,5,1,2
27,136,2016-04-28,2016-04-29,60274,desktop,9924,The Devilfire Empire,Slaka,136_2,0,4,0,4,5,2,1
28,136,2016-04-29,2016-05-01,45188,desktop,9924,The Devilfire Empire,Sylvania,136_2,0,4,0,4,5,3,0
29,136,2016-09-20,2016-09-22,52933,desktop,9924,The Devilfire Empire,Osterlich,136_4,0,4,0,7,6,0,6
30,136,2016-09-22,2016-09-23,51685,desktop,9924,The Devilfire Empire,Osterlich,136_4,0,4,0,7,6,1,5
31,136,2016-09-23,2016-09-24,43323,desktop,9924,The Devilfire Empire,Osterlich,136_4,0,4,0,7,6,2,4
32,136,2016-09-24,2016-09-26,55990,desktop,9924,The Devilfire Empire,Osterlich,136_4,0,4,0,7,6,3,3
33,136,2016-09-26,2016-09-27,46411,desktop,9924,The Devilfire Empire,Osterlich,136_4,0,4,0,7,6,4,2
34,136,2016-09-27,2016-09-28,45399,desktop,9924,The Devilfire Empire,Osterlich,136_4,0,4,0,7,6,5,1
35,136,2016-09-28,2016-09-29,41113,desktop,9924,The Devilfire Empire,Osterlich,136_4,0,4,0,7,6,6,0
36,149,2017-02-03,2017-02-05,10485,desktop,3417,The Devilfire Empire,Kangan,149_1,0,2,0,4,7,0,3
37,149,2017-02-05,2017-02-06,10485,desktop,3417,The Devilfire Empire,Kangan,149_1,0,2,0,4,7,1,2
38,149,2017-02-06,2017-02-07,10485,desktop,3417,The Devilfire Empire,Kangan,149_1,0,2,0,4,7,2,1
39,149,2017-02-07,2017-02-09,28733,desktop,5583,The Devilfire Empire,Kangan,149_1,0,2,0,4,7,3,0
40,156,2016-08-13,2016-08-15,2748,mobile,359,Gondal,Leutonia,156_1,0,0,0,8,8,0,7
41,156,2016-08-15,2016-08-16,16546,mobile,359,Gondal,Kazahrus,156_1,0,0,0,8,8,1,6
42,156,2016-08-16,2016-08-17,48310,mobile,359,Gondal,Leutonia,156_1,0,0,0,8,8,2,5
43,156,2016-08-17,2016-08-18,39132,mobile,359,Gondal,Kazahrus,156_1,0,0,0,8,8,3,4
44,156,2016-08-18,2016-08-19,41971,mobile,359,Gondal,Urkesh,156_1,0,0,0,8,8,4,3
45,156,2016-08-19,2016-08-20,41971,mobile,4775,Gondal,Urkesh,156_1,0,0,0,8,8,5,2
46,156,2016-08-20,2016-08-21,19335,mobile,359,Gondal,Leutonia,156_1,0,0,0,8,8,6,1
47,156,2016-08-21,2016-08-22,57658,mobile,359,Gondal,Leutonia,156_1,0,0,0,8,8,7,0
48,160,2016-07-27,2016-07-30,17590,tablet,3631,Gondal,Gondal,160_1,0,4,0,4,9,0,3
49,160,2016-07-30,2016-08-01,48922,tablet,3631,Gondal,Glubbdubdrib,160_1,0,4,0,4,9,1,2

In [22]:
raw.to_parquet( '../00_Data/train_and_test_2.pq')